@charset "utf-8";
/* CSS Document */

/****************************
Winner Xshot CSS 22-07-2014 
last update: 01 Aug 2014
			 06 Aug 2014
****************************/
@font-face { font-family: pslsirintr; src: url('../font/psl168pro.html'); }
/* header */
#header{
	background: url(../images/topmenubg.html);
	width: 100%;
	height: 86px;
}
#wrapper{
	width: 1143px;
	height: 86px;
	margin: 0 auto;
}
.xshotlogo{
	width: 229px;
	height: 85px;
}
.language{float:right; display: inline; overflow: hidden; z-index: 99999; margin-top: -5px;}
.language--in{margin-left: -20px; margin-right: -20px;}
.logo {
  float: left;
  display: block;
  margin-top: 0px;
  border:0px solid;
  max-width:200px;
  overflow:hidden;
  position:relative;
  padding:10px 0px;   
}
/* end header /*

/* all content */
.content{
	background: url(../images/contentbg.html) repeat-y center;
	height: 100%;
}
#contentwrap{
	width: 1143px;
	height: 800px;
	margin: 0 auto;
}
.space01{
	width: 1143px;
	height: 15px;
	margin: 0 auto;
}
.download{
	margin-top: 10px;
}
.stat{
	margin-top: 10px;
	padding-bottom: -15px;
}
/* four blue button */
.fourbtn{ 
	margin-top: 10px;
	display: inline;
	max-width:100%;
	background-size:100% auto;
}
.fourbtn--margin{
	margin-left: 1.6px; margin-right: 1.5px;
}
/* end four blue button*/

/* news tab */
.news{
	margin: 5px 0 0 0;
	height: auto;
	background: #fff;
	overflow: hidden;
	max-width:100%;
	background-size:100% auto;
}
.moretab {
	width: 60px;
	height: 22px;
	margin-top: 30px;
	margin-bottom: 7px;
	margin-right: 20px;
	float:right;
	text-align: center;
	background: url(../images/tabupdate/more.html) no-repeat;
	}
/* end tab news */
.feature {
	margin-top: 14px;
	display: inline;
	max-width:100%;
	background-size:100% auto;
}
.feature--center{
	margin-left: 10px;
	margin-right: 10px;
}
/* special button */
.special{
	background: #024a81;
	margin: 15px 0 15px 0;
	padding-bottom: 15px;
}
.spebtn{
	margin: 13px 0 0 0;
	display: inline;
	max-width:100%;
	background-size:100% auto;
}
/*end all content */

/* bottom banner */
.bannerbottom{
	background: url(../images/bottombanner.html) no-repeat center;
	height: 290px;
	width: 100%;
}
/* end bottom banner */

/* footer */
.footerwrap{
	background: #febf32;
	width: 100%;
}
.info{
	color:#000;
	margin: 0 auto;
}
/* end footer */

/* bootstrap css edit */
.navbar-default{
	background: url(../images/topmenubg.html) repeat-x;
	height: 86px;
}

@media only screen and (min-width: 1023px){
	.statfloat{
		float: right;
	}
}

@media screen and (max-width: 1023px) {
.collapsing, .in {background-color: #333;}
.collapsing ul li a, .in ul li a {color: #fff!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #666!important;}
}

@media only screen and (max-width: 1024px) {
.news{
	margin: 5px 0 0 0;
	height: auto;
	background: #fff;
	overflow: hidden;
	max-width:100%;
	background-size:100% auto;
}
.moretab {
	width: 60px;
	height: 22px;
	margin-top: 30px;
	/* margin-right: -90px; */
	text-align: center;
	background: url(../images/tabupdate/more.html) no-repeat;
	float: right;
}
@media only screen and (max-width: 640px) {
.moretab {
	width: 60px;
	height: 22px;
	margin-top: 30px;
	margin-right: -90px;
	text-align: center;
	background: url(../images/tabupdate/more.html) no-repeat;
	float: right;
	}
}
@media only screen and (max-width: 768px) {
.news{
	margin: 5px 0 0 0;
	height: auto;
	background: #fff;
	overflow: hidden;
	max-width:100%;
	background-size:100% auto;
}
.moretab {
	width: 60px;
	height: 22px;
	margin-top: 30px;
	
	text-align: center;
	background: url(../images/tabupdate/more.html) no-repeat;
	float: right;
}
}
/* end tab news */

/* subpage css */
.sub-bigcontainer{height: 870px; margin-bottom: 10px;}
.sub-container{margin-top: 10px; background: #fff; height: 850px;}
.sub-headspace{padding-top: 1px;}
.sub-download{
	margin-top: 10px;
}
.sub-stat{
	margin-top: 10px;
	padding-bottom: -15px;
}
.sub-head{background: url(../images/tabupdate/tabbg.html) repeat-x; height: 32px; margin: 10px 10px 0 10px;}
@media only screen and (max-width: 1023px){
	.sub-download{
		display: none;
	}
	.sub-stat{
		display: none;
	}
	/* four blue button */
	.fourbtn{ 
		margin-bottom: 10px;
		max-width:45%;
		background-size:100% auto;
	}
	.fourbtn--margin1{
		float: left;
	}
	.fourbtn--margin2{
		float: right;
	}
	.fourbtn--margin3{
		float: left;
	}
	.fourbtn--margin4{
		float: right;
	}
	/* end four blue button*/
}
